<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<meta name="keywords" content="test,html,css" />
</head>
<body>
<%= render 'layouts/header' %>

<div class="row">

	<%=render 'layouts/we' %>
		
	<div class="col-9">
		<p> EMAIL: pipa@gmail.com   PHONE: 443-545-9305 </p>
	</div>
</div>
	</body>
	</html>
