<% provide(:title, "home") %>
<%= image_tag "HiveLogo.jpg", :class => "logo" %>
	
<div class = "row">
	<div class="col-sm-3">
		<p class="title-1">News</p>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis ipsum et erat volutpat, in pulvinar tellus semper. Quisque tincidunt risus eu sodales ultricies. Fusce nec orci at nisi tempus placerat eu et tortor. Duis nec fermentum ante, ac porttitor ligula. Cras gravida placerat massa auctor feugiat. Suspendisse potenti. In est leo, congue sed nulla eu, condimentum accumsan justo. Etiam volutpat dictum purus, sit amet rutrum justo volutpat aliquet. Nam nec rhoncus mauris.</p>
	</div>
	<div class="col-sm-6">
		<p class="title-2">What is Hive</p>
		<p>Hive is a bug-themed tabletop game, designed by John Yianni and published in 2001 by Gen42 Games. The object of Hive is to capture the opponent's queen bee by completely surrounding it, while avoiding the capture of one's own queen. Hive is an abstract strategy game.
			Hive shares elements of both tile-based games and board games. It differs from other tile-based games in that the tiles, once placed, can then be moved to other positions according to various rules, much like chess pieces. Thus, the game has mechanics comparable to an abstract strategy board game and is marketed in that genre. It does not fit the classical definition, however, as there is no gameboard involved; the pieces are simply placed on some relatively flat surface.</p>
		<%= link_to "Sign Up",root_path, :class => "sign-up" %>
	</div>
	<div class="col-sm-3">
		<p class="title-3">How To Play</p>
		<%= link_to (image_tag "youtube.png", :class => "how-to"), 
			"https://www.youtube.com/watch?v=uIA8Vi7wICc" , :target  => '_blank' %>
	</div>
	
</div>