<div class = "row">
  <div class= "col-2 user_info">
	  <h1><%= @user.name %></h1>
        <%= gravatar_for @user %>    
  </div>
  <% if @show_edit %>
    <!-- impliment later -->
    <div class="user-edit"></div>
  <% end %>
  </div>
</div>
