// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purple: #8600b3;
$green: #006600;
$yellow: #ffcc00;
$blue: #4d94ff;
$brown: #804000;
$grey: #e6e6e6;

.navbar {
	margin-bottom: 0px !important; 
}

.nav > li > a.hover{
	background-color: #b3b3b3;
}

.logo {
	display: block;
	margin: 0 auto;
	height: 75px;
	width: 150px;
}

[class^="title-"] {
	font-size: 30px;
	text-align: center;
}

.title-1 {
	color: $purple;
}

.title-2 {
	color: $green;
}
.title-3 {
	color: $brown;
}

.how-to {
	width: 75%;
	height: 75%;
}

.sign-up {
	right: 10px;
	text-align: center;
	display: block;
	margin: 0 auto;
	height: 22px;
	width: 75px;
	background-color: $blue;
	border-radius: 5px;
	color: $grey;
}

/*[class^="col-"] {
	padding: 0px;
	background-color: $grey;
	border-radius: 15px;
}*/
		