<canvas id="others" width="1000" height="80" style="border:1px solid #d3d3d3;" draggable='false'>
Your browser does not support the HTML5 canvas tag.</canvas>

<canvas id="myCanvas" width="1000" height="750" style="border:1px solid #d3d3d3;" draggable='false'>
Your browser does not support the HTML5 canvas tag.</canvas>

<canvas id="yours" width="1000" height="80" style="border:1px solid #d3d3d3;" draggable='false'>
Your browser does not support the HTML5 canvas tag.</canvas>
<script src="script.js"></script>

<p id="display"></p>