<div class="col-3 we_are">
		<ul class="we_are">
			<li>We Are</li>
			<li>Independent</li>
			<li>Strong</li>
			<li>HardWorking</li>
			<li>Devoted</li>
			<li>Able</li>
			<li>Confident</li>
			<li class="no_lower">Willed</li>
		</ul>
</div>